 <div class="inputbox">
    <input name={{@id}} class="custom-input{{if this.hasValueInserted ' active'}}" type="text"
      placeholder="" value={{@inputContent}} {{on 'keyup' @onContentChange}}>
    <span class="invalid-hex{{if @invalidMessage ' active'}}">{{#if
      @invalidMessage}}{{@invalidMessage}}{{/if}}</span>
    <button class="btn-clear-input{{if this.hasValueInserted ' active'}}" type="button" {{on 'click' (fn
      @clearInput)}}>X</button>
    
    <label for="{{@id}}">{{yield to='labelContent'}}</label>
  </div>