 <div class="inputbox" {{did-insert this.didInsertFileUpload}}>
    <input type="file" class="drop_box_input" name="drop_box_input">
    <input name="data_input" class="data_input custom-input{{if this.hasValueInserted ' active'}}" type="text"
      placeholder="" value={{@inputContent}} {{on 'keyup' @onContentChange}}>
    <span class="invalid-hex{{if @invalidFileMessage ' active'}}">{{#if
      @invalidFileMessage}}{{@invalidFileMessage}}{{/if}}</span>
    <button class="btn-clear-input{{if this.hasValueInserted ' active'}}" type="button" {{on 'click' (fn
      @clearInput)}}>X</button>
    <button class="drop_box_button action-btn end {{unless (or @isWorking this.isLoading) 'not-hashing'}}" type="button"
      disabled={{if (or @isWorking this.isLoading) 'disabled' '' }}>

      {{#if (or @isWorking this.isLoading)}}
      <Ux::InlineLoader @active=true />
      {{else}}
      <span>or upload file</span>
     <UploadIconSvg></UploadIconSvg>
      {{/if}}
    </button>
    <label for="data_input" class="{{if (or this.uploadedFileData.fileName this.hasValueInserted) ' active'}}">{{yield to='labelContent'}}</label>
  </div>