<style>
  .drop_box_input {
    visibility: hidden;
    width: 0;
  }

  

  .splitter-text {
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 15px;
    color: white;
  }


  .together {
    flex-direction: row;
    color: darkslategrey;
    font-weight: bold;
    display: flex;
    font-family: 'Quicksand';
    text-align: center;
    width: calc(60% - 10px);
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
    left: -8px;
  }

  .middle {
    position: relative;
    left: -8px;
    font-size: 1.3em;
    margin: 20px;
    text-shadow: 1px 1px 2px #000000a0;
  }


  .together button.btn {
    width: 100%;
    border-radius: 8px;
    text-decoration: none;
    background-color: #097a9c;
    opacity: 1;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22), 0 4px 4px 0 rgba(0, 0, 0, 0.35);
    cursor: pointer;
    outline: 1px solid #0303038c;
    outline: none;
    transition: 0.3s;

  }


  .together button.btn:disabled {
    background-color: gray;
  }

  .together button.btn:hover {

    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #099c298c;
  }

  .together button.btn:hover:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: lightgray;
    outline: none;
  }

  .together .btn span {
    display: block;
    position: relative;
    font-size: 1.2em;
  }

  .together .btn span:after {
    content: "||";
    position: absolute;
    right: -10px;
    font-size: 2em;
    top: -10px;
    color: #85e3ff;
  }

  .together .btn:disabled span:after {
    color: lightgrey;
  }

  span.invalid-hex {
    position: absolute;
    opacity: 0;
    top: 45px;
    left: 10px;
    color: red;
    font-weight: bold;
    /* text-shadow: 1px 1px 5px black; */
    padding: 4px;
    border: 1px solid gray;
    border-radius: 6px;
    background-color: lightgoldenrodyellow;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 0.9em;
    transition: all 0.3s ease-in-out;
  }

  span.invalid-hex.active {
    opacity: 1;
  }
</style>

<DashBar 
  @showRequestTokenModal={{this.showRequestTokenModal}} 
  @showSignInTokenModal={{this.showSignInTokenModal}}
  @userId={{this.enteredUserIdContent}}
  @token={{this.enteredTokenContent}}
  @isSignedIn={{this.isSignedIn}}
  @toggleSessionSave={{this.toggleSessionSave}}
  @isSessionSave={{this.isSessionSave}}
/>

<div class="is-preload page">

 <EnterOrUploadInput 
  @isWorking={{this.isWorking}} 
  @onContentChange={{this.updateEnteredXmlContent}} 
  @onUploadedContent={{this.updateXmlFileContent}} 
  @invalidFileMessage={{this.invalidXmlFileMessage}}
  @inputContent={{this.enteredDataOrXmlFileContent}}
  @clearInput={{this.clearXmlInputContent}}>
   <:labelContent>Enter XML plaintext</:labelContent>
 </EnterOrUploadInput>
  
  <br/>
 <EnterOrUploadInput 
  @isWorking={{this.isWorking}} 
  @onContentChange={{this.updateEnteredXslContent}} 
  @onUploadedContent={{this.updateXslFileContent}} 
  @invalidFileMessage={{this.invalidXslFileMessage}}
  @inputContent={{this.enteredDataOrXslFileContent}}
  @clearInput={{this.clearXslInputContent}}>
   <:labelContent>Enter XSL plaintext</:labelContent>
 </EnterOrUploadInput>
  
  
  <div class="middle">to</div>
  <div class="together">
    <button class="btn verify" disabled={{if this.hasValidData '' 'disabled' }} type="button" {{on 'click'
      this.executeOrderRetrieveResult}}><span>
        <Ux::InlineLoader @active={{this.isWorking}} />WEAVE PDF
      </span></button>
  </div>
  

<div class="globalerror">
{{this.globalError}}
</div>
</div>
{{#if this.isShowingRequestModal}}
  <RequestTokenModal
    @close={{this.closeRequestModal}}
    @updateSignIn={{fn this.updateSignIn}}
  />
  
{{/if}}

{{#if this.isShowingSignInModal}}
  <SignInModal
    @close={{this.closeSignInModal}}
    @updateSignIn={{fn this.updateSignIn}}
  />
  
{{/if}}

{{#if (not (or this.isShowingRequestModal this.isSignedIn this.isShowingSignInModal))}}
<style>
  .modal .cryptlogo-banner{
    margin-top: 40px;
    margin-left:calc(50% - 140px);
  }
  .modal .cryptlogo-banner svg path {
    fill: rgb(7, 104, 156) !important;
    stroke: rgb(7, 104, 156) !important;
}
 .modal .cryptlogo-banner svg text ,
 .modal .cryptlogo-banner svg text tspan{
    fill: rgb(7, 104, 156) !important;
}
.modal .cryptlogo-banner svg circle {
  
    stroke: rgb(7, 104, 156) !important;
}
</style>
<div class="modal" >
    <div class="title" >Please Sign In with Token or Request a Token</div>
    <div class="content">
      
    <p>
      <b>You are not signed in yet.</b> Please use the "Sign In With Token" button to signin with your existing account or request a new token. You can get at any time your token once more by using the same email adress via "Request New Token". 
    </p>
    <p>
      We do not store any personal data on our servers or any third party infrastructure. We do not use cookies. Further <span class="small-caps"><b>Pdf Weaver</b></span> and <span class="small-caps"><b>Genuine Captcha</b></span> is free of any data collecting activities.
    </p>
    <p>
      <span class="small-caps"><b>Pdf Weaver&#8482;</b></span> and <span class="small-caps"><b>Genuine Captcha&#8482;</b></span> are copyright of CryptNG<sup>&#174;</sup>
    </p>
    <p>
        <CryptlogoBanner @project="Pdf Weaver"/>
      </p>
    </div>
     
    
  </div>
{{/if}}
