{{page-title "Myapp"}}
<div class="flexi">
 <button type="button" class="right"  {{on 'click' (fn this.connect)}}>Connect</button> 
 <button type="button" class="right" {{on 'click' (fn this.sendmoney)}}>Send ETH</button> 
 <button type="button" class="right" {{on 'click' (fn this.mint)}}>Mint</button> 
 <button type="button" class="right" {{on 'click' (fn this.getcontractbalance)}}>GetBalance</button> 
</div>
{{outlet}}