{{page-title "Myapp"}}

 <button type="button"  {{on 'click' (fn this.connect)}}>Connect</button> 
 <button type="button"  {{on 'click' (fn this.sendmoney)}}>Send ETH</button> 
 <button type="button"  {{on 'click' (fn this.mint)}}>Mint</button> 
 <button type="button"  {{on 'click' (fn this.getcontractbalance)}}>GetBalance</button> 

{{outlet}}